@theme {
  --color-foreground: #0f1f3d;
  --color-foreground-light: #3e4f71;
  --color-foreground-muted: #2b3c5f;
  --color-foreground-secondary: #7d8ead;

  --color-background: #fff;
  --color-background-accent: #e6ecf6;
  --color-background-muted: #f4f7fc;

  --color-accent: #003f6e;
  --color-accent-dark: #002c4d;

  --color-success: #1a9f6d;
  --color-warning: #d58a00;
  --color-danger: #c72c2c;

  --color-border: #d8e0ef;

  --font-heading: 'Segoe UI', 'Open Sans', sans-serif;
  --font-body: 'Segoe UI', 'Open Sans', sans-serif;

  --radius-base: 0.625rem;

  /*
  This does not show in the theme editor
  but is used to override the defaults based on the user's selection for radius-base
  */
  --radius-xs: calc(var(--radius-base) * 0.25);
  --radius-sm: calc(var(--radius-base) * 0.5);
  --radius-md: var(--radius-base);
  --radius-lg: calc(var(--radius-base) * 1.5);
  --radius-xl: calc(var(--radius-base) * 2);
  --radius-2xl: calc(var(--radius-base) * 3);
  --radius-3xl: calc(var(--radius-base) * 4);
  --radius-4xl: calc(var(--radius-base) * 5);
}
