@theme {
  --color-foreground: #17212f;
  --color-foreground-light: #425365;
  --color-foreground-muted: #64758b;

  --color-background: #ffffff;
  --color-background-accent: #f7f9fc;
  --color-background-muted: #edf2f7;
  --color-background-muted-light: #c8d2df;
  --color-background-muted-dark: #4a5d73;
  --color-background-surface: #f4f7fb;

  --color-surface-dark: #121b2a;
  --color-surface-dark-muted: #1d2a3e;
  --color-on-dark: #f8fafc;
  --color-on-dark-muted: #c8d2df;

  --color-accent: #4e8f2f;
  --color-accent-hover: #3f7625;

  --color-success: #1f7a3b;
  --color-danger: #b4232e;

  --color-border: #d7e0ea;

  --font-heading: 'Roboto Condensed', sans-serif;
  --font-body: 'Inter', sans-serif;

  --radius-base: 0.25rem;

  /*
  This does not show in the theme editor
  but is used to override the defaults based on the user's selection for radius-base
  */
  --radius-xs: calc(var(--radius-base) * 0.25);
  --radius-sm: calc(var(--radius-base) * 0.5);
  --radius-md: var(--radius-base);
  --radius-lg: calc(var(--radius-base) * 1.5);
  --radius-xl: calc(var(--radius-base) * 2);
  --radius-2xl: calc(var(--radius-base) * 3);
  --radius-3xl: calc(var(--radius-base) * 4);
  --radius-4xl: calc(var(--radius-base) * 5);
}
